.hugo_build.lock
node_modules
dist
.output
.nuxt
*.env
.env.*
.tools/
.idea/
db.sqlite
.DS_Store
prisma/db.sqlite-journal
.pnp.*
.yarn/*
/result*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
