@use '../brand/colours';
@use '../brand/size';


.button {
    display: inline-block;
    margin: size.$size-400 size.$size-300;
    padding: size.$size-100 size.$size-300;
    border-radius: size.$size-100;
    
    color: colours.$neutral-300;
    background-color: colours.$primary-700;

    text-decoration: none;
}
