:root {
  --color-highlight: #14a6db;
  --color-highlight2: #53b2cc;
  --color-highlight3: #a9d9e5;
  --color-text: #e8ebeb;
  --color-background: #181818;
  --color-background2: #222;
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Open sans";
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  height: 100%;
}

header,
footer {
  background-color: var(--color-background2);
  margin: 0;
  padding: 1rem;
  flex: 0 1 auto;
}

header a{
  text-decoration: none;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

article {
  flex: 1 1 auto;
  align-self: center;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

pre,
code {
  font-family: "Fira Code", "Ubuntu Mono", monospace;
}

.logo1 {
  color: var(--color-highlight);
}

.logo2 {
  color: var(--color-highlight2);
}

.logo3 {
  color: var(--color-highlight3);
}

.cursor {
  animation: flash 0.33s ease-in-out infinite alternate;
  color: var(--color-highlight);
}

.link-button {
  display: inline-block;
  margin: 1.33rem 1rem;
  padding: 0.56rem 1rem;
  border-radius: 0.56rem;
  color: var(--color-text);
  background-color: var(--color-highlight);
  text-decoration: none;
}

.social-icon {
  filter: brightness(0) saturate(100%) invert(70%) sepia(99%) saturate(3189%)
    hue-rotate(159deg) brightness(89%) contrast(93%);
  margin: 0.3rem;
}

@keyframes flash {
  0%,
  45% {
    opacity: 0;
  }

  55%,
  100% {
    opacity: 1;
  }
}
