
// ************************
// ****      SIZE      ****
// ************************

@for $i from 1 through 100 {
    .max-width-#{$i}vw {
        max-width: #{$i}vw;
    }

    .max-height-#{$i}vh {
        max-height: #{$i}vh;
    }
}


// ************************
// ****   TEXT ALIGN   ****
// ************************

$text-aligns: (center, end, justify, left, right, start);
@each $align in $text-aligns {
    .align-#{$align} {
        text-align: $align;
    }
}
