@use 'sass:map' as map;

/* CompSoc Blue */
$primary-300: #14a6db;
$primary-500: #1089b5;
$primary-700: #007298;


/* Neutral Colours */
$neutral-900: #000000;
$neutral-800: #181818;
$neutral-700: #293132;
$neutral-600: #414549;
$neutral-400: #cccfcf;
$neutral-300: #d9dbdb;
$neutral-200: #e8ebeb;
$neutral-100: #ffffff;


$colours: (
    'primary-300': $primary-300,
    'primary-500': $primary-500,
    'primary-700': $primary-700,

    'neutral-100': $neutral-100,
    'neutral-200': $neutral-200,
    'neutral-300': $neutral-300,
    'neutral-400': $neutral-400,
    'neutral-600': $neutral-600,
    'neutral-700': $neutral-700,
    'neutral-800': $neutral-800,
    'neutral-900': $neutral-900,

    'transparent': transparent,
);

@each $name, $colour in $colours {
    .clr-#{$name} {
        color: $colour;
    }

    .bg-clr-#{$name} {
        background-color: $colour;
    }
}
